@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Rubik", sans-serif;
}

.container {
  max-width: 1240px;
  width: 100%;
  margin: auto;
  border: 1px solid red;
}

/*  header */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.h-nav {
  display: flex;
  gap: 32px;
}

.h-nav a {
  font-size: 14px;
}

a {
  text-decoration: none;
  color: #757575;

}

.h-buttons {
  display: flex;
  gap: 24px;
}

.h-buttons button {
  background: none;
  border: none;
  font-size: 14px;
  padding: 10px 18px;
}

button {
  background: none;
  border: none;
  font-size: 14px;
  padding: 10px 18px;
}

.h-buttons .green-btn {
  background: #8BAC3E;
  border-radius: 100px;
  color: aliceblue;
}

.green-btn {
  background: #8BAC3E;
  border-radius: 100px;
  color: aliceblue;
}

.gray-btn {
  background: #f2f2f2;
  border-radius: 100px;
  color: #000;
  font-weight: 600;
}

.hot {
  position: absolute;
  width: 35px;
  height: 18px;
  top: 5px;
  left: 705px;
  gap: 0px;
  border-radius: 8px 8px 8px 8px;
  opacity: 0px;
  background: #E7462D;
}

.hot{
  position: absolute;
  margin-left: 710px;
  transform: translate(-50%, -50%);

}

.hot span {
  display: flex;
  justify-content: space-between;
  width: 18px;
  height: 14px;
  top: 30px;
  left: -100px;
  gap: 0px;
  opacity: 0px;

  font-family: Open Sans;
  font-size: 8px;
  font-weight: 700;
  line-height: 14px;
  text-align: center;
  text-decoration: none;
  margin-left: 7px;
  padding: 2px;
  color: #FFFFFF;
}



/*  header end */

/* hero css  */
/* hero-css */
.hero-content {
  display: flex;
  justify-content: space-between;
}

.hero-text {
  /* border: 1px solid red; */
  width: 482px;
  padding-top: 86px;

  h1 {
    color: #8BAC3E;
    font-size: 64px;
    margin-bottom: 32px;
  }

  p {
    font-size: 18px;
    line-height: 30px;
    color: #757575;
    margin-bottom: 32px;
  }
}

.hero-buttons {
  display: flex;
  gap: 16px;
}

.hero-img {
  margin-right: 30px;
  padding-top: 34px;
}

.hero-img .img-wrapper {
  width: 457px;
  height: 457px;
  border-radius: 50%;
  border: 1px solid red;
}

/* hero-css end */
/* hero css end */